<p>
<h1>You have created a new poll</h1>
<h3><%= creatorName %>, you have just created a new poll with Geopoll</h3>
</p>
To view the poll follow this link <a href="<%= poll %>"><%= poll %></a><br>
To edit the poll follow this link  <a href="<%= editPoll %>"><%= editPoll %></a>