<p>
<h1>Your poll's declaration phase has been clsoed</h1>
<h3><%= creatorName %>, your poll's declaration phase has been closed. You can now choose terms to vote on</h3>
</p>
To view the poll follow this link <a href="<%= poll %>"><%= poll %></a><br>
To edit the poll follow this link  <a href="<%= editPoll %>"><%= editPoll %></a>